* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.x {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.up {
    background-color: rgb(10, 84, 26);
    color: rgb(255, 255, 255);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ans {
    display: flex;
    gap: 10px;
    padding: 10px;
}



.ans p {
    text-wrap: wrap;
}

.z {
    height: 10vh;
    width: 100%;
    overflow: hidden;
    position : relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.z::before {
    position : absolute;
    content : "";
    background : conic-gradient(transparent, green, rgb(8, 242, 180), rgb(73, 24, 217),  rgb(226, 250, 7), rgb(217, 25, 169), rgb(4, 25, 214), transparent);
    
    height: 1200%;
    width: 200%;

    animation : x 8s infinite ease-in-out;

}

.z::after {
    content : "";
    background: black;
    position: absolute;
    inset : 5px;
    border-radius: 15px;
}

.z h1 {
    color : white;
    z-index: 100000;
}

@keyframes x {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate : 360deg;
    }
}